# Environments
# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
pip-log.txt
env/
venv/
.venv/

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Environment Variables
.env
.env.*
!.env.example

# Django Media
backend/media/
media/

# Generated data & dumps
backend/seed_data.json
backend/filtered_seed_data.json
backend/complete_seed_data.*
backend/users_dump.json
backend/qr_codes/
backend/profile_pics/

# Logs
*.log
